[submodule "xaisuitecli-legacy"]
	path = xaisuitecli-legacy
	url = https://github.com/11301858/xaisuitecli-legacy
[submodule "xaisuiteweb"]
	path = xaisuiteweb
	url = https://github.com/11301858/xaisuiteweb
[submodule "xaisuiteblock"]
	path = xaisuiteblock
	url = https://github.com/11301858/xaisuiteblock
[submodule "xaisuitecli"]
	path = xaisuitecli
	url = https://github.com/11301858/xaisuitecli
